<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Re-formation</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'reformation/assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'reformation/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">



    <!-- Vendor CSS Files -->
    <link href="{% static 'reformation/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'reformation/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'reformation/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'reformation/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'reformation/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'reformation/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'reformation/assets/css/style.css' %}" rel="stylesheet">

</head>

<body>


    {% block header %}
    {% include 'reformation/components/_header.html' %}
    {% endblock header %}

    <div style="background-image: url({% static 'reformation/img/nature 1.jpg' %}); background-size: cover">

    {% block hero %}
    {% include 'reformation/components/_hero.html' %}
    {% endblock hero %}

    </div>
<main id="main">

    {% block messages %}
    {% include 'reformation/components/_messages.html' %}
    {% endblock messages %}


    {% block facilities %}
    {% include 'reformation/components/_facilities.html' %}
    {% endblock facilities %}


    {% block projects %}
    {% include 'reformation/components/_projects.html' %}
    {% endblock projects %}



</main>

    {% block footer %}
    {% include 'reformation/components/_footer.html' %}
    {% endblock footer %}


<!-- Vendor JS Files -->
<script src="{% static 'reformation/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'reformation/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'reformation/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'reformation/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'reformation/assets/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'reformation/assets/js/main.js' %}"></script>

</body>

</html>
